@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Hind&family=Kanit:wght@100&family=Roboto+Mono:wght@100&family=Roboto+Slab:wght@700&family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7vh 0.6vw;
    background-color: #03001C;
}
.leftnavdiv>ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightnavdiv>ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    list-style: none;
}
.leftitem{
    margin: 0 1vw;
font-weight: bold;
font-size: 1.5vw;
COLOR: #5B8FB9;
}
.leftitem:hover{
    font-size: 1.55vw;
    COLOR: #B6EADA;
    cursor: pointer;
}
.rightitem{
    margin: 0 1vw;
font-weight: bold;
font-size: 1.5vw;  
COLOR: #5B8FB9;
}
.rightitem:hover{
    font-size: 1.55vw;
    COLOR: #B6EADA;
    cursor: pointer;

}
.navbtn{
    margin: 0 0.6vw;
    border-radius: 20px;
    padding: 0.8vh 0.75vw;
    font-size: 1.2vw;
    color: #240046;
font-weight: bold;
}
.languageselect{
    margin: 0 0.6vw;
    font-size: 1.1vw;
    color: #240046;
    padding: 0.4vh 0.8vw;

}
.mainfirstdiv{
    background:linear-gradient(to bottom,#03001C,#301E67);
    color: antiquewhite;
    width: 100%;
    height: 37vh;
    clip-path: polygon(0 0, 100% 0, 122% 3%, 0% 172%);
    display: flex;
/* justify-content: space-evenly; */
align-items: center;
/* padding-top: 5vh; */

}
.maincontainerheading{
    padding: 1vh 0 2vh 0;
}
.textmove{
    position: relative;
    color: #240046;
    /* -webkit-text-stroke: 0.3vw #420b75 ; */
}
.textmove::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    -webkit-text-stroke: 0vw #420b75 ;
    border-right: 2px solid white;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate {
    0%,10%,100%{
        width: 0;
    }

    70%,90%{
        width:100% ;
    }
    
}

.maincontainer{
    padding: 0 1vw;
}
.videologo{
    padding: 0 0.4vw 0 2vw;
    transition: scale 1s ease-in;
}
.videologo:hover{
    transform: scale(1.07);
}
.comunitycontainer{
    /* clip-path: polygon(0 0, 100% 0%, 100% 20%, 100% 100%, -37% 100%,50% 0); */
    width: 100%;
    height: 40vh;
    /* background-color: red; */
    margin-top: 10vh;
    display: flex;
  flex-direction: column;
 
  align-items: center;
}
.animatetext{
    animation: movetext 10s linear reverse infinite forwards;
    font-size: 2vw;
    padding: 1vh 0;

}
.removeline{
    text-decoration: none;
    color: #240046;
}
.removeline:hover{
    text-decoration: underline;
}
@keyframes movetext {
    0%{
        transform: translateX(0);
        transform-origin: start;
    }
    50%{
        transform: translateX(92vw);
    }
    60%{
        transform: translateX(80vw);

    }
    /* 70%{
        transform: translateX(40vw);

    } */
    100%{
        transform: translateX(0);

    }
    
}
.detail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh 3vw;
    border: 6px groove #161A30;
    border-radius: 3vw;
    overflow: hidden;
    background: #301E67;
}
.leftheading{
    margin: 3vh 0;
}
.left{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}
.part{
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    margin: 2vh 3vw;
}
.rcenter{
    text-align: center;
}
.all{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.abouttxtm{
    list-style:url('./img/icons/icons8-quick-mode-on-30.png') inside;
    margin: 4vh 1vw;
}

.abouttxtag{
    color:#B6BBC4;
    font-size: 1.7vw;
    text-decoration: underline;
}
.container {
    background: linear-gradient(to bottom,#03001C,#240046);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 4vh 0;
  }
  .hpark{
    color: white;
    font-size: 3vw;
    font-family: "Great Vibes", cursive;
  font-weight: bold;
  font-style: normal;
  text-decoration: underline;
  }
  .h2park{
    color: #ccc;
  }
  
  /* h1 {
    margin-bottom: 20px;
  } */
  
  .form,
  .parking-details {
    color: #ccc;
    font-size: 2vw;
    margin-top: 20px;
    padding: 0 0 6vh 0;
    
  }
  .mpark{
    margin: 1vh 0;
  }
  .totalpara{
    color: #007bff;
  }
  .hparking-detials{
    text-decoration: underline;
    margin: 2vh 0;
    font-size: 2.8vw;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #007bff;
    font-size: 2vw;
    padding: 2vh 0;
  }
  
 
  label {
    margin-bottom: 2vh;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #B6EADA59;
  }
  
  .buttonpark {
    background-color: #007bff;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 2vh 2vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1.3vh;
  }
  
  .buttonpark:hover {
    background-color: #B6EADA;
    color: #03001C;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
